/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Your Name
==============================================================================================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
/*@import "../css/reset";*/
/*@import "../fonts/Linearicons/Web Font/style";*/
@import "sass-lib";

h2{
    &.headline{
        &.ttlelse{
            font-size: 30px; font-weight: 500; margin-bottom: 60px;
            i.pinkc{color: #f91942; font-style: normal;}
            span{font-size: 18px; line-height: 24px;}
        }
    }
}


/* header
----------------------------------------------------------------------------------------------*/
header{
    #logo{margin-right: 20px; width: 20%;}
    .main-search-input{
        margin-top: 0; float: left; width: 70%; padding: 3px 9px;
        input, input:focus{font-size: 12px; height: 30px; line-height: 30px;}
        button{
            &.button{padding: 0; width: 30px; height: 30px; font-size: 14px;}
        }
    }
    .main-search-input-item{
        padding-right: 10px;
        .chosen-container{
            font-size: 12px;
            .chosen-drop{font-size: 12px;}
        }
        .chosen-container-single{
            .chosen-single, .chosen-single.chosen-container-active{line-height: 30px; height: 30px;}
        }

        &.tsleft{
            position: relative;
            .icwpsleft{position: absolute; left: 7px;}
        }
    }
    .left-side{width: 73%;}
    .right-side{width: 25%;}
    #navigation{
        ul{
            a{font-size: 14px; font-weight: 600;}
        }
        &.style-1{
            clear: both; margin-top: 15px;
            ul{
                li{
                    a{color: #808080;}
                }
            }
        }
    }
    input{
        &#booking-date, &#booking-time{padding: 0 10px; margin: 0; @include boxShadow(none); font-size: 12px; padding: 0; text-align: left; font-weight: 400;}
    }
}
#header{
    &.cloned{z-index: 11000;}
}

div.datedropper{
    .picker{
        ul{
            &.pick{
                li{
                    span{font-size: 12px;}
                }
                &.pick-m{font-size: 14px;}
                &.pick-m, &.pick-y, &.pick-l{height: 35px; line-height: 35px;}
            }
        }
    }
    &.picker-lg{
        .picker{
            ul{
                &.pick{
                    &.pick-m{font-size: 14px;}
                }
            }
        }
    }
}
.header-widget{
    .sign-in{margin-right: 0; margin-left: 25px;}
}
.main-search-input-item{
    &.homeinput{padding-left: 50px;}
    &.tsleft{
        position: relative;
        .icwpsleft{position: absolute; top: 50%; left: 25px; margin-top: -7px;}
    }
}
.categories-boxes-container{
    &.inlinecenterbox{
        text-align: center; display: block;
        .category-small-box{
            float: none; display: inline-block;
        }
    }
}
.category-small-box{
    &.comingsoon{
        background-color: rgba(242,242,242,0.2); color: rgba(51,51,51,0.2); position: relative;
        &:before{content: ""; position: absolute; top: 0; right: 0; width: 79px; height: 76px; background: url('../images/material/comingsoon.png') no-repeat center;}
        h4{color: rgba(51,51,51,0.2);}
        &:hover{
            @include transform(scale(1)); background-color: rgba(242,242,242,0.2); color: rgba(51,51,51,0.2);
            h4{color: rgba(51,51,51,0.2); font-size: 16px;}
        }
    }
}
.listing-item-container{
    &.compact{
        .listing-item-content{
            span{
                &.tag{
                    background-color: rgba(255,255,255,0.3); text-transform: none; top: -160px;
                    &.taglg{font-size: 14px; padding: 5px 20px;}
                }
            }
        }
    }
    &:hover{@include transform(translate3d(0,0,0));}
}
.smslide{
    .slick-prev{@include transform(translate3d(0,-50%,0)); left: 10px;}
    .slick-next{@include transform(translate3d(0,-50%,0)); right: 10px;}
}
.range-output{
    &:after{content: " (IDR)";}
}

/* middle
----------------------------------------------------------------------------------------------*/
.icwp{
    display: inline-block; width: 60px; height: 60px; background-repeat: no-repeat; background-position: center;
    &.ic_business{background-image: url('../images/material/ic_business.png');}
    &.ic_handshow{background-image: url('../images/material/ic_handshow.png');}
}
.pac-container{
    width: 755px; max-width: 100%; margin: 0 auto 50px;
    &:after{content: ""; clear: both; display: block;}
    .ls-pac{
        width: 50%; float: left; padding: 0 15px; @include boxSizing(border-box); margin-bottom: 30px;
        .in-pac{
            background: #fff; text-align: center; position: relative; padding: 52px 25px 55px; @include boxShadow(0 0 40px 9px rgba(0, 0, 0, 0.1));
            h3{margin-bottom: 20px;}
            .numpac{position: absolute; top: 20px; left: 20px; font-size: 48px; font-weight: 300; color: rgba(92,135,248,0.2);}
            .lnr{color: #f91942; font-size: 60px; margin-bottom: 20px; display: inline-block;}
        }
    }
}
img{
    &.footer-logo{max-height: none;}
}

/* footer
----------------------------------------------------------------------------------------------*/
