/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Your Name
==============================================================================================*/
@import "sass-lib.css";


/* header
----------------------------------------------------------------------------------------------*/

/* middle
----------------------------------------------------------------------------------------------*/
.fs-inner-container.content{
    padding-top: 0px !important; 
}
.listing-item-container.list-layout span.tag, .listing-item-content span.tag{
    position: absolute; top: -140px; right: 20px;
}

.col-md-6{
    &.op{
        width: 155px; float: left; 
    }
}
/* footer
----------------------------------------------------------------------------------------------*/
