@import "sass-lib.scss";

section {
	&.banner {
		img { width: 100%; }
	}
}

.listing-share {
	span { display: inline-block; margin-right: 7px; }
}

.listing-features { margin-bottom: 60px;
	&.closeboxes { -webkit-columns:1; -moz-columns:1;
		li { padding-left: 28px; position: relative; width: 100%;
			&::before { width:16px; height: 16px; content: ""; position: absolute; left: 0px; background: url('../images/material/closeboxes.png'); }
		}
	}
}

.txt-center { text-align: center; }

.book-tab { margin-bottom: 60px;
	.tabs-nav {
		li { cursor: pointer; text-align: center; padding: 0px 20px; float: left; width: 32%; margin-right: 2%; border: 1px solid #eeeeee; @include borderRadius(8px);
			&:nth-child(3n) { margin-right:0px; }
			&.active {
				&::after { width:21px; height: 16px; background: url('../images/material/arrow-up.png'); position: absolute; bottom: -30px; left: 0; right: 0; margin: 0 auto; content: ""; }
				a { border: none; }
			}
			a { border: none; }
			a:hover { border: none; }
			img { margin: 0 auto; max-width: 100%; display: block; padding-top: 20px; }
		}
	}
	.tabs-container {
		.tab-content { @include borderRadius(8px); margin-top: 26px; padding: 30px 30px; border: 1px solid #eee; 
			.row { width: 80%; margin: 20px auto; }
		}
	}
}
.payment-tab{
	&.payment-tab-active{max-height: none;}
}

/*.book-tab {
	.tabs-container {
		.tab-content { border: none; }
	}
}*/

.opening-hours {
	ul {
		li {
			&.total-costs {
				span { float: none; display: block; font-size: 18px; color: #000 !important; }
			}
		}
	}
}

.det-feature { margin: 38px 0px 58px;
	.list { float: left; width: 31.5%; margin-right: 2%; 
		&:nth-child(3n) { margin-right:0px; }
		span { float: left; width: 26px; height: 26px; 
			&.f1 { background: url('../images/material/feature-1.png'); background-size: 100%; }
			&.f2 { background: url('../images/material/feature-2.png'); background-size: 100%; }
			&.f3 { background: url('../images/material/feature-3.png'); background-size: 100%; }
			&.f4 { background: url('../images/material/feature-4.png'); background-size: 100%; }
		}
		p { margin-left: 30px; font-size: 18px; }
	}
	&::after { display: block; content: ""; clear: both; }
}

.price-cont { margin-bottom: 31px;
	span { display: block; font-size: 18px; line-height: 18px; color: #000;
		&.price { font-size:24px; font-weight: bold; line-height: 28px; margin-bottom: 5px; }
	}
}
 
.date-time {
	span.lnr { position: absolute; top: 52px; left: 25px; }
	input { padding-left: 40px; }
}

.listing-nav-container.cloned.stick { display: none !important; }
	
span.billb { font-size: 14px; padding: 6px 17px; @include borderRadius(20px); border: 1px solid #f91942; color: #f91942; }
div.locate { position: relative; margin-top: 40px; font-size: 20px; padding: 6px 17px; @include borderRadius(20px); border: 1px solid #f91942; color: #f91942; }

.det-address { margin: 54px 0px;
	.head { margin-bottom: 10px;
		span {
			&.big { color: #000; font-size: 24px; font-weight: bold; margin-right: 20px; }
		}
	}
	.cont {
		p { font-size: 14px; line-height: 21px; color: #959595; }
	}
}

.account { position: relative; 
	.non { @include blur(5px); }
	.popup-premium {
		position: absolute; top: 0; right: 0; left: 0; bottom: 0; padding: 20px; text-align: center; background: rgba(0,0,0,0.2); color: #fff; z-index: 2;
		.inner { top: 60%; position: relative; resize:vertical; @include transform(translateY(-60%)); 
			p { font-size: 14px; line-height: 18px; width: 70%; margin: 0 auto; margin-bottom: 20px; }
		}
	}
}